.c-header {
  @include flex-container(space-between, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: $cl-neutral-6;
  box-shadow: 0 0 8px $cl-black;
  z-index: 1000;

  @include media-query(sm) {
    height: 42px;
  }
}

.c-header__logo {
  width: 256px;
  height: 40px;
  margin: 8px 16px;

  @include media-query(sm) {
    width: 180px;
    height: 28px;
  }
}

.c-logo {
  width: 100%;
  height: auto;
}

.c-header__hamburger {
  @include flex-container(center, center, center);
  width: 56px;
  height: 56px;
  margin-right: 16px;
  padding: 4px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  > span {
    display: block;
    width: 100%;
    height: 4px;
    margin: 4px 0;
    background-color: $cl-white;
  }

  @include media-query(sm) {
    width: 42px;
    height: 42px;

    > span {
      height: 2px;
      margin: 2px 0;
    }
  }

  &.is-open {
    transform: translateX(150%);
  }
}

.c-header__menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  background-color: $cl-neutral-6;
  box-shadow: 0 0 8px 4px $cl-black;
  transform: translateX(150%);
  transition: transform 0.2s;
  overflow: scroll;

  &.is-open {
    transform: translateX(0);
  }

  @include media-query(sm) {
    width: 80%;
  }
}

.c-header-menu__close {
  width: 100%;
  height: 56px;
  padding: 8px 16px;
  color: $cl-white;
  text-align: right;
  cursor: pointer;
}

.c-header-menu__link {
  width: 100%;
  height: 64px;
  cursor: pointer;
  border-bottom: 4px solid $cl-white;
  transition: border-color 0.2s;

  > a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    padding-left: 24px;
    color: $cl-white;
    transition: color 0.2s;
  }

  &:hover {
    border-color: $cl-green;

    > a {
      color: $cl-green;
    }
  }
}
